@model IEnumerable<WebApiSpark.Models.equipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siteweb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_listeJoueurEquipe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idadmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_sport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siteweb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_listeJoueurEquipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idadmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_sport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
