@model WebApiSpark.Models.listejoueurequipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>listejoueurequipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.joueur1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur28)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joueur31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joueur31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guidteam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guidteam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModification)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
