@model IEnumerable<WebApiSpark.Models.listejoueurequipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.joueur1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur20)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur24)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur26)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur27)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur28)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur29)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur30)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joueur31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guidteam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.joueur1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur26)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur27)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur28)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur29)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joueur31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guidteam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_team }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_team }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_team })
        </td>
    </tr>
}

</table>
