@model IEnumerable<WebApiSpark.Models.commande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_fournisseur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateminlivraison)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datemaxlivraison)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montanttotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_listproduitsachete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datemodification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_fournisseur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateminlivraison)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datemaxlivraison)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montanttotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_listproduitsachete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datemodification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_commande }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_commande }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_commande })
        </td>
    </tr>
}

</table>
