@model IEnumerable<WebApiSpark.Models.conversation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_user1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_user2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_user1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_user2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_conversation }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_conversation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_conversation })
        </td>
    </tr>
}

</table>
